:root {
    --main-black: #000;
    --main-white: #fff;
    --main-grey: #EEEEEE;
    --second-grey: #F2F2F2;
    --third-grey: #666666;
    --forth-grey: #CACACA;
    --fifth-grey: #EBEBEB;
    --sixth-grey: #E5E5E5;
    --blue-one: #81B3D2;
    --blue-two: #669EC0;
    --blue-three: #5496BD;
    --brown-one: #766357;
    --brown-two: #604E43;
    --brown-three: #503E33;
    --brown-four: #231F20;
    --brown-five: #BDBBBC;
    --brown-sixth: #ABABAB;

    --hotel-separator: #e8e8e8;

    --rgb-white: 255, 255, 255;
    --rgb-black: 0, 0, 0;

    --index-icon-color: #A9A9A9;

}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.body {
    background-color: var(--second-grey);
}

li {
    list-style-type: none;
}



.hidden {
    display: none;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;    
}

a {
    text-decoration: none;
}

button,
input {
    outline: none; 
    border: none;
}

.wrapper {
    display: grid;
    min-width: 1200px;
    max-width: 1200px;
    margin: 0 auto;    
    min-height: 100vh;
    grid-template-rows: 56px 1fr 120px;

    box-shadow: 0 0 10px rgba(var(--rgb-black),0.2);
    background-color: var(--main-white);
}

/*Main navigation*/
.main-nav {
    background-color: var(--main-white);    
}

.main-nav-items {    
    display: grid;
    padding-left: 0;
  
    grid-template-columns: repeat(5, 1fr);
    margin: 0;
    margin-top: -60px;    
}

.main-nav-item:nth-child(3) {
    grid-column: 4 / 5;
}

.main-nav-item {
    padding-left: 0;
}

.main-header-logo {
    position: relative; /*z-index works with elements witch position is not static*/
    z-index: 1;

    margin: 0 auto;
}

.main-nav-link {    
    font-weight: 700;
    line-height: 26px;
    color: var(--main-black);
}

.global-link:visited {
    color: var(--main-black);
}

/*Welcome screen*/
.welcome-screen {    
    height: 509px;
    line-height: 509px;
    background-image: 
    url(../img/shape.png),
    url(../img/background-photo.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;    
}

.welcome-screen-img {
    vertical-align: middle;
}

/*Background images*/
.bg-img {
    min-height: 100%;
    min-width: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
}

/*First reason image*/
.ri-left {
    
    background-image: url(../img/reason-2-img.jpg);
    
}

/*Second reason image*/
.ri-right {
    background-image: url(../img/reason-1-img.jpg);
}

/*Filtering hotels*/
.filtering-hotels {
    display: flex;
    min-height: 217px;
    min-width: 1200px;
    background-image: url(../img/filtering-hotels-bg.jpg);
}

.search-form-hotels {    
    box-sizing: border-box;
    flex-grow: 1;     
    margin: 25px 70px;
}

.hotel-filters {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto auto;    
}  

.filter-wrapper {
    display: flex;
    flex-direction: row;
}

.filter-wrapper:last-child {
    justify-self: flex-end;
}

.range-wrapper {
    width: 320px;
    position: relative;
    flex-direction: column;
}

.hotel-fieldset {
    box-sizing: border-box;
    margin: 0;
    margin-right: 120px;
    padding: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: var(--main-white);
    border: none;
}

.hotel-fieldset ul {
    margin: 0;
    padding: 0;
}
.hotel-fieldset li {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 22px;
    position: relative; 
    text-align: start;
}

.range-fieldset {
    margin: 0;    
}

.hotel-fieldset li:last-child {
    margin: 0;
}

.filter-label {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--main-white);
    margin-left: 40px;
    cursor: pointer;    
}

.filter-legend {  
    margin-bottom: 24px;
    text-align: start;
}

.range-legend {
    margin-bottom: 11px;
}

.filter-label img {
    position: absolute;
    left: 0;
}

/*Hotels checkboxes*/
.hotel-checkbox {
    -webkit-appearance: none;
    appearance: none;
  }

.hotel-checkbox ~ .checkbox-off {
    display: inline;
} 
.hotel-checkbox ~ .checkbox-on {
    display: none;
}
.hotel-checkbox:checked ~ .checkbox-off {
    display: none;
}
.hotel-checkbox:checked ~ .checkbox-on {
    display: inline;
}

.plus-minus-button:focus,
.index-button:focus,
.calendar-button:focus,
.hotels-button:focus,
.hotel-checkbox:focus ~ .checkbox-off, 
.hotel-checkbox:focus ~ .checkbox-on {
    outline: auto;
    outline-color: var(--main-black);
}



.price-controls {
    display: flex;
    justify-content: space-between;
    border: 2px solid var(--main-white);
    border-radius: 2px;
    margin-bottom: 15px;
}
.price-controls label {    
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
	text-transform: uppercase;
    color: var(--main-white);
    cursor: pointer;    
    height: 32px;
}
.price-controls input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    text-align: center;
    width: 139px;
    margin-left: 12px;
    margin-top: 6px;
}
.min-price-input {
    border: 1px solid transparent;
    border-right: 2px solid var(--main-white);
}
.max-price-input {
    border: none;
}

.price-controls input::placeholder {
    color: var(--basic-white);
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
}

.range-controls {
    position: relative;
    height: 21px;
    padding-top: 9px;
    margin-bottom: 10px;
}
.scale {
    height: 2px;
    background: rgba(var(--rgb-white), 0.3);
    mix-blend-mode: normal;
}
.bar {
    width: 80%;
    height: 2px;
    background: var(--main-white);
}
.toggle {
    outline: none;
    position: absolute;
    top: 0;    
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--main-white);
    background-color: var(--brown-sixth);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 var(--brown-sixth);
    cursor: pointer;
}
.toggle:hover {
    transform: scale(1.2);
}
.toggle-min {    
    left: 0;
}
.toggle-max {
    left: 80%;    
}

.hotels-button {
    width: 137px;
    height: 36px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color:  var(--main-white);
    background: transparent;
    border: 2px solid var(--main-white);
    box-sizing: border-box;
    border-radius: 2px;    
    
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.hotels-button:hover {
    box-sizing: border-box;
    border: 2px solid var(--main-white);
    border-radius: 2px;
    background-color: var(--main-white);
    color:  var(--main-black);
}


/*Order is important*/
.main-nav-item .active-tab {
    color: var(--brown-one);
}

.global-link:hover {
    color: var(--blue-one);
}

.global-link:active {
    color: var(--main-black);
    opacity: 0.3;
}

/*Main*/
h1, h2, h3, .bold-header {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: var(--main-black);    
}

.reasons {
    min-height: 216px;
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: flex-start;       
}

.reasons h2 {
    margin: 42px 0 0 0;
    max-width: 470px;    
}

.reasons p {
    line-height: 26px;
    margin: 42px 0 0 0;    
}

.first-reason {
    display: grid;
  
    grid-template-columns: 1fr 2fr; 
}

.second-reason {
    display: grid;
  
    grid-template-columns: 2fr 1fr;       
}

.features-list {
    display: grid;
  
    grid-template-columns: repeat(3, 1fr);

    height: 330px;
    margin: 0;
    padding: 0;

    justify-items: center;
    align-items: center;
}

.features-item {
    width: 300px;
}

.small-reasons-list {
    display: grid;
  
    grid-template-columns: repeat(3, 1fr);

    height: 256px;
    padding: 0;
    margin: 0;
    
    align-items: center;    
}

.small-reasons-item {
    width: 260px;
    justify-self: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.reasons-item-number, 
.reason-number {
    display: block;
    margin: 5px 0 10px 0;
}

.hotels-list {
    padding-left: 0;
    margin: 0;
}

.sorting-hotels,
.hotels-item {
    display: grid;
    column-gap: 29px;    

    grid-template-columns: 208px 1fr 190px;
    
    align-items: center; /*Vertical alignment*/

    border-bottom: 1px solid var(--hotel-separator);
}

.hotels-item:last-child {
    border-bottom: none;
}

.footer-border {
    border-top: 1px solid var(--hotel-separator);
}

.hotels-item {
    min-height: 150px;
}

.sorting-hotels {
    min-height: 86px;
}

.hotels-item-photo {
    justify-self: start;
    padding-left: 73px;
}

.hotels-item-info {
    height: 90px;
    justify-self: start;    

    display: grid;    
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr 27px;
    column-gap: 7px;    
}

.hotels-item-info span {    
    justify-self: start;
}

.btn {
    display: flex;
    max-height: 27px;
}

.hotels-item-name {
    margin: 0;
    grid-column: 1 / span 2;
    justify-self: flex-start;
}

.hotels-item-raiting {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90px;
    justify-self: end;
    padding-right: 73px;
}

.search {    
    margin-bottom: -120px;
}

.search-intro {
    position: relative;
    z-index: 3;
    background-color: var(--main-white);
    height: 205px;
    margin: 0;
    line-height: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.search-intro-text {
    max-width: 435px;    

    margin: 0;
    padding-top: 40px;
}

.search-intro-title {    
    padding-top: 57px;
    margin: 0;
}

.search-intro h2 {
    font-size: 30px;
    line-height: 24px;
}

/*Search form*/
.search-form-top {
    position: relative;
    z-index: 3;
    max-width: 568px;
    min-height: 86px;
    margin: 0 auto;
    background-color: var(--brown-one);
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-form-top:hover {
    background-color: var(--brown-two);
}

.search-form-top:active {
    background-color: var(--brown-three);
}

.search-form-top:active .search-form-top-header{   
    opacity: 0.3;
}

.search-form-top-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 86px;
}

/*Svg-icons for index form*/
.svg {
    fill: var(--index-icon-color);
    cursor: pointer;    
}

.svg:hover {    
    fill: var(--main-black);
}

.svg:active {
    fill: var(--blue-one);
} 


.search-form-top-header h2 {
    color: var(--main-white);        
}

.centering {    
    position: absolute;    
    width: 1200px;
    background: none;    
}


.search-form-index {      
    position: relative;
    z-index: 2;
    background-color: var(--main-white);
    margin: 0 auto;
    max-width: 568px;
    min-height: 395px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(var(--rgb-black),0.2);

    transform: none;
    opacity: 1;
    animation-name: form--show;
    animation-duration: 0.8s;
}

@keyframes form--show {
    0% {    
        transform: translateY(-100%);
        opacity: 0;
    }
  
    100% {        
        transform: none;
        opacity: 1;
    }
}

/*Styles for JavaScript*/

.search-form-index--hide {    
    transform: translateY(-100%);
    opacity: 0;
    animation-name: form--hide;
    animation-duration: 0.8s;
}

@keyframes form--hide {
    0% {    
        transform: none;
        opacity: 1;
    }
  
    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

.index-form {
    padding: 55px;    
}

.input-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    flex-direction: row;
    align-items: baseline;
}

.input-wrapper:not(:first-child) {
    margin-top: 30px;
}

.input-wrapper-2 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-direction: row;
    align-items: baseline;
    margin-top: 30px;
}

.children-label {
    padding-left: 35px;
}

.adults,
.children {
    text-align: center;
}

.number-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;      
}

.plus-minus-button {
    display: flex;   

    justify-content: center;    
    align-items: center; 
    cursor: pointer;  

    background-color: var(--second-grey);
}

.calendar-button {
    padding: 0;
    margin-left: -30px;
    background: none;
}

.plus-minus-svg {
    fill: var(--index-icon-color);
}


.plus-minus-button:hover .plus-minus-svg {
    fill: var(--main-black);
}

.plus-minus-button:active .plus-minus-svg {
    fill: var(--blue-one);
}



.date-wrapper {      
    display: flex;
    flex-direction: row;
    align-items: center;
}


.index-form .label {
    cursor: pointer;
    text-align: start;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    color: var(--main-black);    
}

.index-form input {
    background-color: var(--second-grey);
    height: 38px;
    width: 100%;
    border: none;
    color: inherit;
    font: inherit;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;    
    box-sizing: border-box;
    cursor: pointer;
}

.departure-date,
.arrival-date {
    padding-left: 14px;
}


.index-form input[type="text"]:hover,
.index-form input[type="number"]:hover {
    background: var(--fifth-grey);
}

.index-form input[type="text"]:focus,
.index-form input[type="number"]:focus {
    box-sizing: border-box;
    background: var(--main-white);
    outline: 2px solid var(--sixth-grey);
    outline-offset: -2px;   
}

.index-form .index-button {
    margin-top: 54px;
    width: 458px;
    height: 58px;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    color: var(--main-white);
    background-color: var(--blue-one);
    border: none;
    cursor: pointer;
}
.index-button:hover {
    background-color: var(--blue-two);
}
.index-form .index-button:active {
    background-color: var(--blue-three);
    color: rgba(var(--rgb-white), 0.3);
}


.map {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 590px;
}

.big-reason {
    background-color: var(--blue-one);
    color: var(--main-white);    
    
    align-items: center;
    
    height: 256px;     
}

.big-reason .reason-title {    
    color: var(--main-white);
    line-height: 21px;
}

.reason-title {
    width: 200px;
    align-self: center;
}

.reason-description {
    display: flex;
    flex-direction: column;
    width: 310px;
    align-self: center;
    justify-self: center;
}

.reasons-item-title {
    width: 120px;
}

.features-item-title, .reasons-item-title {
    line-height: 21px;
}

.small-reasons {
    position: relative;
    z-index: 3;
    background-color: var(--main-grey);
}

/*Footer*/
.page-footer {
    z-index: 1;
    display: grid;
  
    grid-template-columns: repeat(3, 1fr);
    
    padding: 0;

    justify-items: center;
    align-items: center;   

    background-color: rgba(var(--rgb-white), 0.8);
}

.footer-media-list {
    display: grid;
  
    grid-template-columns: repeat(3, 1fr);

    grid-gap: 6px;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-contacts a {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: var(--main-black);
}

/*Social media*/
.footer-media-list {
    padding-left: 0;    
}

.footer-media-item {
    display: flex;
    width: 46px;
    height: 48px;    
    background-color: var(--blue-one);    
    align-items: center;
    justify-content: center;
    line-height: 0;
}

.footer-media-item:active {
    background-color: var(--blue-three); 
}

.footer-media-item:hover {
    background-color: var(--blue-two);    
}

.footer-media-item a {
    fill: var(--main-white);        
}

.footer-media-item:active a {
    opacity: 0.3;
}

.footer-media-link { 
    display: flex;
    width: 100%;
    height: 100%;

    justify-content: center;    
    align-items: center;
}

/*HTML Academy Logo*/
.footer-developer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-developer a {
    margin-left: 8px;
}


.footer-developer-text {
    font-weight: normal;
}

.footer-developer-link {
    fill: var(--brown-four);
    
}

.footer-developer-link:hover {
    fill: var(--blue-one);
}

.footer-developer-link:active {
    fill: var(--brown-five);
}

/*Sorting*/
.sorting-hotels-list {
    padding-left: 40px;
    display: flex;
    min-width: 240px;
    justify-content: space-between;    
}

.sorting-hotels-type {
    display: flex;

    grid-template-columns: repeat(3, 1fr);

    justify-items: center;
    align-items: center; 
}

.sorting-hotels-title {
    padding-left: 73px;
}

.sorting-hotels-title,
.sorting-hotels-type {
    justify-self: start;
    
}

.arrows {
    justify-self: end;
    padding-right: 73px;
}

.sorting-hotels-list-title,
.sorting-hotels-item {
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
}

.sorting-hotels-item:not(.sorting-hotels-item-chosen) {
    
    border-bottom: 1px dotted #81b3d2;
}

.sorting-hotels-item:active,
.sorting-hotels-item-chosen {    
    border-bottom: none;
}

.sorting-hotels-item-chosen a {
    color: var(--blue-one);
    opacity: 1;
}

.sorting-hotels-link {
    color: var(--main-black);
    opacity: 0.3;
}

.sorting-hotels-link:hover {
    color: var(--blue-one);
    opacity: 1;
}

.sorting-hotels-link:active {
    color: var(--main-black);
    opacity: 1;
}

/*Arrows*/
.arrow {
    display: inline-block;    
}

.arrow a {
    color: var(--forth-grey);
}

.arrow .arrow-down-link {
    color: var(--blue-one);
}

.arrow:hover a {
    color: var(--main-black);
}

.arrow:active a {
    color: var(--blue-one);
}

/*Buttons*/
.btn {
    display: flex;
    font-weight: 700;

    color: var(--main-white);   
}

/*Details button*/
.hotels-item-btn-details {
    background-color: var(--blue-one);
}

.hotels-item-btn-details:hover {
    background-color: var(--blue-two);
}

.hotels-item-btn-details:active {
    background-color: var(--blue-three);
}

/*Book button*/
.hotels-item-btn-book {
    background-color: var(--brown-one);
}

.hotels-item-btn-book:hover {
    background-color: var(--brown-two);
}

.hotels-item-btn-book:active {
    background-color: var(--brown-three);
}

/*Button text*/
.button-link {    
    box-sizing: border-box;
    padding: 0 17px;
    min-height: 27px;

    color: var(--main-white);

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:active .button-link{   
    opacity: 0.3;
}

/*Hotel mark*/
.hotels-item-mark {
    display: inline-block;    
    padding: 3px 14px;    
    background-color: var(--second-grey);
    color: var(--third-grey);
    margin: 0;  
}

/*Hotel stars*/
.hotels-item-stars {
    color: var(--blue-one);
    font-size: 24px;
    text-align: end;
    margin: 0;
}

/*Should be at the end of the styles.css*/
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;    
}